RewriteEngine On

# Check if the request is for an actual file or directory, if not proceed to rewrite
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite requests to add .html file extension internally
RewriteRule ^([^\.]+?)/?$ $1.html [NC,L]
