.sidemenu-wrap{
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100%;
    max-width: 180px;
    padding: 120px 0 80px;
}

.sidemenu a{
    color: #666;
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: 500;
}

.sidemenu a:hover{
    text-decoration: none;
    color: #29abe2;
    background: transparent !important;
}

.sidemenu > li > a{
    padding: 5px 5px;
}

.sidemenu .active > a{
    color: #29abe2;
}

.sidemenu > .active > a{
    font-weight: bold;
}

.sidemenu,
.sidemenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidemenu{
    padding-right: 10px;
}
